In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("data/customer.csv")

In [3]:
df.sample(5)

    age  gender review education purchased
48   39  Female   Good        UG       Yes
49   25  Female   Good        UG        No
11   74    Male   Good        UG       Yes
31   22  Female   Poor    School       Yes
38   45  Female   Good    School        No